<form [formGroup]="inputForm">
    <div>
        <input 
            placeholder="UserId" 
            [formControlName]="USER_ID_CONTROL_KEYWORD"/>
    </div>
    <div *ngIf="formErrors[USER_ID_CONTROL_KEYWORD]">
        {{formErrors[USER_ID_CONTROL_KEYWORD]}}
    </div>
    <div>
        <input 
            placeholder="UserName" 
            [formControlName]="USER_NAME_CONTROL_KEYWORD"/>
    </div>
    <div *ngIf="formErrors[USER_NAME_CONTROL_KEYWORD]">
        {{formErrors[USER_NAME_CONTROL_KEYWORD]}}
    </div>
    <div>
        <input 
            placeholder="Password"
            type="password" 
            [formControlName]="PASSWORD_CONTROL_KEYWORD"/>
    </div>
    <div *ngIf="formErrors[PASSWORD_CONTROL_KEYWORD]">
        {{formErrors[PASSWORD_CONTROL_KEYWORD]}}
    </div>
</form>